@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #F9F5EB;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121e27;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.home__input {
  border-radius: 15px;
  background: #F9F5EB;
  border: 2px solid #15bd77;
  color: black;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
.home__checkbox {
  position: relative;
  padding: 10px;
  margin-left: 10px;
  top: 2px;
}
.home__button {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #15bd77;
  color: #F9F5EB;
  outline: none;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
}
.room_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121e27;
  margin-top: 30px;
}
.home__room_button {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #15bd77;
  color: #F9F5EB;
  outline: none;
  border: none;
  border-radius: 25px;
  margin-top: 5px;
}
.dropdown {
  border-radius: 15px;
  background: #F9F5EB;
  border: 2px solid #15bd77;
  color: black;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
.dropdown__option {
  border-radius: 15px;
  background: #F9F5EB;
  border: 2px solid #15bd77;
  color: black;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
*:disabled {
  background: grey;
  pointer-events: auto;
}
